body {
	font-family: "Roboto", sans-serif;

}

.headshot {
	width: 100%
}

header {
	background-color: #eebb44;
	margin-bottom: 40px;
}

header h1 {
	line-height: 1;
	margin-bottom: 0;
}


.character {
	border: 1px solid #DCDCDC;
	margin-bottom: 20px;
}

.card_content {
	padding: 20px;
}


